In [2]:
import pandas as pd

titanic = pd.read_csv('titanic.csv')

survival_by_gender = titanic.groupby('Sex')['Survived'].mean()
print(survival_by_gender)

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [3]:
filtered_data = titanic[(titanic['Age'] > 18) & (titanic['Pclass'] == 1)]
print(filtered_data.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

In [5]:

cleaned_data = titanic.dropna()
print(f"Actual data: {len(titanic)} cleaned data: {len(cleaned_data)} rows")

no_duplicates = titanic.drop_duplicates()
print(f"Actual data: {len(titanic)}Rows, without duplication: {len(no_duplicates)} rows")

Actual data: 891 cleaned data: 183 rows
Actual data: 891Rows, without duplication: 891 rows